body {
  display: flex;
  background-color: #3B4149;
  flex-direction: column;
  font-family: verdana;
}

.astronomy {
  color: white; 
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.texto{
    margin: 10px; 
    display:flex;
    flex-direction: column;
    align-items: center; 
    color:white;

}
.imagem{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  height: 600px;
  width: 600px;
  
}
.dia{
  margin: 10px; 
  display:flex;
  flex-direction: column;
  align-items: center; 
  color:white;
}
#data-apod{
margin: 10px;
}
#submit{
margin: 10px;
}
.posicao-botao{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
}
.posicao-elementos{
  display: flex;
  flex-direction: row;
  align-items: center;
}
